Project/Latex/SIR_Paper_Latex/*.aux
Project/Latex/SIR_Paper_Latex/tex-paper.bbl
Project/Latex/SIR_Paper_Latex/tex-paper.fdb_latexmk
Project/Latex/SIR_Paper_Latex/tex-paper.fls
Project/Latex/SIR_Paper_Latex/tex-paper.out
Project/Latex/SIR_Paper_Latex/tex-paper.pdf
Project/Latex/SIR_Paper_Latex/tex-paper.log
Project/Latex/SIR_Paper_Latex/tex-paper.synctex.gz
Project/Latex/SIR_Paper_Latex/tex-paper.toc
Project/Latex/SIR_Paper_Latex/tex-paper.blg
Project/Latex/SIR_Paper_Latex/tex-paper.bcf
Project/Latex/SIR_Paper_Latex/tex-paper.run.xml
Project/Latex/SIR_Paper_Latex/indent.log
